<div fxFlex="70%" fxFlexOffset="20%">
  <h1>Plum St. Group</h1>
  <p>
    The Plum Street Group is a small, full-services software shop.  We cater to 
    small businesses and start-up teams.  We specialize in Ruby on Rails back-end
    systems and Angular front-end apps.
  </p>
  <p>
    The Plum Street Group was founded by Frank Vinci in 2009.  We have remained 
    a small team by choice to allow ourselves to remain more agile.  We maintain 
    a network of skilled professionals who are able to assist our clients on an 
    as-needed basis.
  </p>
</div>