<div fxFlex="70%" fxFlexOffset="20%">
  <h1>Contact Us</h1>
  <div *ngIf="!submitted">
  <form (ngSubmit)="createMessage(message)" #messageForm="ngForm">
    <div fxLayout="row">
      <div fxFlex="100%">
        <md-input-container class="note-input">
          <input mdInput type="email" name="email" placeholder="Email Address"  
            id="email" required #email="ngModel"
            [(ngModel)]="message.email">
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <md-input-container class="note-input">
          <input mdInput type="text" name="fname" placeholder="First Name"  
            id="fname" required #fname="ngModel"
            [(ngModel)]="message.fname">
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <md-input-container class="note-input">
          <input mdInput type="text" name="lname" placeholder="Last Name"  
            id="lname" required #lname="ngModel"
            [(ngModel)]="message.lname">
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100%">
        <md-input-container class="note-input">
          <textarea mdInput name="body" rows="5" placeholder="Send us a note"
            id="body" required #body='ngModel'
            [(ngModel)]="message.body"></textarea>
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div fxLayout="row" fxLayoutAlign="end start">
          <button md-raised-button type="submit" color="primary">Send</button>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div *ngIf="submitted && !completed">
    <div fxFlexLayout="row" fxFlex="60%" fxLayoutAlign="center start">
      Processing...
      <md-spinner></md-spinner>
    </div>
  </div>
  <div *ngIf="submitted && completed">
    <div fxFlexLayout="row" fxFlex="60%" fxLayoutAlign="center start">
      <p>Your message has been submitted.  You will be contacted as soon as
        possible</p>
    </div>
  </div>
</div>
