<div fxFlex="70%" fxFlexOffset="20%">
  <h1>Contact Us</h1>
  <form>
    <div fxLayout="row">
      <div fxFlex="100%">
    <md-input-container class="note-input">
      <textarea mdInput name="note" rows="5" placeholder="Send us a note"></textarea>
    </md-input-container>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="60%">
        <div fxLayout="row" fxLayoutAlign="end start">
          <button md-raised-button type="submit" color="primary">Send</button>
        </div>
      </div>
    </div>
  </form>
</div>
