<div fxLayout="row">
  <div fxFlex="70%" fxFlexOffset="20%">
    <h1 class="md-display-1">What We Do</h1>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="70%" fxFlexOffset="20%">
    <md-tab-group>
      <md-tab label="Back End">
        <h3>Ruby on Rails</h3>
        <p>
          We are proud of our history as a Ruby on Rails shop.  Rails is stable, 
          mature, secure and capable of handling a diverse set of business problems.  
          Whether you need a place to store complex business rules and terabytes of 
          user data or just a place to store client inquiries, we can accomodate 
          your needs using Rails.
        </p>
      </md-tab>
      <md-tab label="Front End">
        <h3>Angular</h3>
        <p>
          We build responsive, super-snappy front ends using Angular2.  We utilize 
          the latest trends in user interface research, including material design and 
          flexbox-based layouts.  The power of Angular is that the user is essentially 
          interacting with an app in their browser.  This results in lighter loads on 
          your back-end server and a better, faster experience for your users.  The 
          component-based approach implemented by Angular allows greater reuse of code 
          and it makes porting your website to native mobile apps much easier.
        </p>
      </md-tab>
      <md-tab label="Quality">
        The testability of code written in Rails and Angular is stunning.  We write 
        automated tests to confirm the usability of our apps.  This allows for faster 
        iterations and a better end product.  Better products, faster.  That's what we 
        provide.
      </md-tab>
    </md-tab-group>
  </div>
</div>
