<div fxLayout="row">
  <div fxFlex="70%" fxFlexOffset="20%">
    <h1>Plum St. Group</h1>
    <p class="md-body-2">
      The Plum St. Group is a web development consulting team.  Contact
      us today to find out how we can help your small business!
    </p>
  </div>
</div>

<div fxFlex="70%" fxFlexOffset="20%">
  <h2>What We Do</h2>
  <md-grid-list cols="2" gutterSize="5px">
    <md-grid-tile>
      <a md-raised-button routerLink="/services" color="primary">
        Back End Development
      </a>
    </md-grid-tile>
    <md-grid-tile>
      <a md-raised-button routerLink="/services" color="primary">
        Front End Development
      </a>
    </md-grid-tile>
    <md-grid-tile>
      <a md-raised-button routerLink="/services" color="primary">
        Quality
      </a>
    </md-grid-tile>
    <md-grid-tile>
      <a md-raised-button routerLink="/services" color="primary">
        Service
      </a>
    </md-grid-tile>
  </md-grid-list>
</div>
